* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393E46
}

#flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1 {
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 10px #ff4343
}

#email, #password {
    margin: 0.5rem;
    border: solid 2px;
    border-radius: 5px;
    width: 13rem;
    text-align: center;
}

.checks {
    width: 35vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

h3 {
    margin-bottom: 10px;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 10px #ff4343
}

.email,
.password {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 10px #ff4343
}

li,
[data-email],
[data-password] {
    color: #ff4343
}

#btnCheck {
    margin: 0.5rem;
    border-radius: 5px;
    width: 13rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 10px;
}

.valid {
    color: green;
}