*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, #tContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timerButton{
    margin-top: 5px;
}
